#filters-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: $blue;
    padding: 40px 0;
    .container{
        .row{
            h1{
                color: $orange;
            }
            a#toggle-filters{
                color: $white;
                font-family: $rajdhani;
                font-size: $font-size;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                margin-top: 20px;
                margin-right: 40px;
                cursor: pointer;
                float: right;
                white-space: nowrap;
                i{
                    margin-right: 10px;
                    font-size: .8em;
                }
                &:hover{
                    color: $orange;
                }
            }
            &.filters-row{
                .col{
                }
            }
        }
    }
    @media(max-width: $md){
        .container{
            .row{
                h1{
                    font-size: calc($font-size * 2.5);
                    width: 60%;
                }
                a#toggle-filters{
                    margin-top: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}